@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans";
}

/* CSS Reset */

ul,
li {
    list-style: none;
}

p {
    color: #727272;
}

img {
    width: 100%;
}

.w-100 {
    width: 100%;
}
.text-orange {
    color: #ff900e;
}
.text-gray {
    color: #727272;
}

.btn-primary {
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    height: 64px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background-color: #ff900e;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*  common classes */

.text-center {
    text-align: center;
}

/*  margin bottom */
.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-35 {
    margin-bottom: 35px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mb-150 {
    margin-bottom: 150px;
}

/* margin top */

.mt-1 {
    margin-top: 4px;
}

.mt-2 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-35 {
    margin-top: 35px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-100 {
    margin-top: 100px;
}
.mt-150 {
    margin-top: 150px;
}

/*  padding top */

.pt-1 {
    padding-top: 4px;
}

.pt-2 {
    padding-top: 8px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-35 {
    padding-top: 35px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-100 {
    padding-top: 100px;
}
.pt-150 {
    padding-top: 150px;
}

/*  padding bottom */

.pb-1 {
    padding-bottom: 4px;
}

.pb-2 {
    padding-bottom: 8px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-35 {
    padding-bottom: 35px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pb-150 {
    padding-bottom: 150px;
}

/* header and navigation styles */

header {
    background: rgba(255, 144, 14, 0.1);
}

/* nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title {
    font-size: 45px;
    font-weight: 700;
}
.nav-description {
    font-weight: 500;
    font-size: 18px;
}
nav ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-left: 50px;
} */

/* navigation section */

.desktop {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.nav-description {
    display: flex;
    gap: 40px;
}

/*  hero section styling  */

.hero-title {
    font-weight: 700;
    font-size: 64px;
}

.hero-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* section 1 */

.image-glary {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

.image-glary > img {
    width: 100%;
}

.features-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features-container > * {
    width: 45%;
}

/* section-sponsor*/

.sponsors-company {
    display: flex;
    justify-content: space-between;
}
.sponsors-company > img {
    width: 15%;
    filter: grayscale(100%);
    transition: all ease 0.3s;
    cursor: pointer;
}

.sponsors-company > img:hover {
    filter: grayscale(0%);
}

/* favorite feature section */

.favorite-feature-wrapper {
    display: flex;
    justify-content: space-between;
}

.favorite-feature-wrapper > * {
    width: 45%;
}

.favorite-feature-text > h2 {
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
    border-left: 5px solid #ff900e;
}

.favorite-feature .card-container .card {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
}

.favorite-feature .card-container .card h3 {
    margin-bottom: 10px;
}

.favorite-feature .experience-card {
    background: #ff900e;
    position: relative;
    border-radius: 8px;
    color: white;
    padding: 40px;
    text-align: center;
    width: 30%;
    margin-top: -80px;
    margin-left: -80px;
}

.favorite-feature .experience-card h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 70px;
}
.favorite-feature .experience-card span {
    font-size: 18px;
}

/* section-fact */
.fact-cat-container {
    display: flex;
    justify-content: space-between;
}
.fact-cat-container img {
    width: 40px;
}

.fact-cat-container > div {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ff900e;
    border-radius: 8px;
    padding: 45px;
    transition: all ease 0.3s;
}

.fact-cat-container > div:hover {
    transform: scaleX(5%);
    cursor: pointer;
}

.fact-cat-container > div :nth-child(2) {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
}
.fact-cat-container > div :nth-child(3) {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}

/* contact section styling */
.contact-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact h2 {
    font-size: 40px;
}

.contact-form > input {
    max-width: 400px;
    width: 100%;
    padding: 10px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ff900e;
}

/* footer styles */
.footer-content {
    background: #fff4e7;
    border-radius: 8px;
    padding: 40px 5px;
}

/*  responsive code */

@media only screen and (max-width: 600px) {
    .fact-cat-container {
        display: block;
    }

    .fact-cat-container > div {
        margin-bottom: 10px;
    }

    .favorite-feature-wrapper {
        display: block;
    }

    .favorite-feature-wrapper > * {
        width: 100%;
    }

    .favorite-feature .experience-card {
        background: #ff900e;
        position: relative;
        border-radius: 8px;
        color: white;
        padding: 40px;
        text-align: center;
        width: 80%;
        margin-top: -80px;
        margin-left: 2%;
    }

    .features-container {
        display: block;
    }
    .features-container > * {
        width: 100%;
        margin-top: 20px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        padding: 20px 0;
    }

    .mobile > img {
        width: 30px;
    }
}

@media only screen and (min-width: 600px) {
    .mobile {
        display: none;
    }
}
